body {
  font-family: 'Open Sans', sans-serif;
  color: #888888;
}
/* Main container */
.main-container {
  width: 41rem;
  margin: 10rem auto 0 auto;
  border: 1px solid pink;
  text-align: center;
}
/* Header and section heading text */
.masthead,
.section-heading {
  font-family: 'Roboto', sans-serif;
}
/* Header */
.masthead {
  text-align: center;
}
/* Navigation */
.nav {
  color: #efefef;
}
/* Hyperlinks */
a {
  color: #888888;
  text-decoration: none;
}
a:hover {
  color: #efefef;
}
/* Puts a margin above content to separate it from navigation */
.wrapper {
  margin-top: 2rem;
}
/* Section heading text */
.section-heading {
  margin: 0;
  padding: 1rem;
  text-align: center;
  border-bottom: 3px solid #888888;
  background-color: #efefef;
}
/* All sections */
.details-section,
.charges-section,
.earnings-section {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #888888;
  border-radius: 3px;
  box-shadow: 0 2px 0 #888888;
}
/* Meal details section */
.details-section {
  height: 21.8rem;
  margin-bottom: 1rem;
}
/* Meal details form */
.meal-label {
  display: inline-block;
  width: 8.5rem;
  text-align: right;
  line-height: 2em;
}
.meal-input {
  width: 4rem;
  padding: 0.2rem;
  border: 1px solid #888888;
  border-radius: 3px;
}
/* Invalid input error message */
.invalid-input {
  color: #F4B0B1;
}
/* Overrides ng-hide to preserve spacing */
.invalid-input.ng-hide {
  display: block !important;
  visibility: hidden;
}
/* Buttons */
.btn {
  width: 27.5%;
  padding: 1rem;
  border: 0;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: #888888;
}
/* Submit button */
.btn-submit {
  background-color: #A9E5C4;
  border-radius: 3px;
  box-shadow: 0 3px 0 #82d9a9;
}
/* Cancel button */
.btn-cancel {
  background-color: #F9F4A7;
  border-radius: 3px;
  box-shadow: 0 3px 0 #f2e848;
}
/* Reset button */
.btn-reset {
  background-color: #F4B0B1;
  border-radius: 3px;
  box-shadow: 0 3px 0 #ee8385;
}
