body {
  font-family: 'Open Sans', sans-serif;
  color: #888888;
}
/* Header */
.masthead {
  text-align: center;
}
/* Section heading text */
.section-heading {
  margin: 0;
  padding: 1rem;
  text-align: center;
  border-bottom: 3px solid #888888;
  background-color: #efefef;
}
.masthead,
.section-heading {
  font-family: 'Roboto', sans-serif;
}
/* Main container */
.main-container {
  width: 41rem;
  height: 22rem;
  margin: 10rem auto;
  /* border: 1px solid pink; */
}
/* Half width column */
.col-1-2 {
  width: 50%;
  height: 100%;
  float: left;
}
/* All sections */
.details-section,
.charges-section,
.earnings-section {
  width: 98%;
  text-align: center;
  border: 1px solid #888888;
  border-radius: 3px;
  box-shadow: 0 2px 0 #888888;
}
/* Meal details section */
.details-section {
  height: 100%;
}
.meal-label {
  display: inline-block;
  width: 8.5rem;
  text-align: right;
  line-height: 2em;
}
.meal-input {
  width: 4rem;
  padding: 0.2rem;
  border: 1px solid #888888;
  border-radius: 3px;
  box-shadow: 0 3px 0 #888888;
}
/* Customer charges and waitstaff earnings sections */
.charges-section,
.earnings-section {
  height: 48.2%;
  float: right;
}
/* Customer charges section */
.charges-section {
  margin: 0 0 0.65rem 0;
}
.section-text {
  margin: 1.25rem 0;
}
.btn {
  width: 30%;
  padding: 1rem;
  border: 0;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: #888888;
}
.btn-submit {
  background-color: #A9E5C4;
  border-radius: 3px;
  box-shadow: 0 3px 0 #82d9a9;
}
.btn-cancel {
  background-color: #F9F4A7;
  border-radius: 3px;
  box-shadow: 0 3px 0 #f2e848;
}
.btn-reset {
  background-color: #F4B0B1;
  border-radius: 3px;
  box-shadow: 0 3px 0 #ee8385;
}
