@headings-font: 'Roboto', sans-serif;
@main-font: 'Open Sans', sans-serif;
@border-radius: 3px;
@main-txt-clr: #888888;
@btn-txt-clr: @main-txt-clr;
@section-border-clr: @main-txt-clr;
@section-heading-bg: #efefef;
@nav-txt-clr: @section-heading-bg;
@submit-clr: #A9E5C4;
@cancel-clr: #F9F4A7;
@reset-clr: #F4B0B1;
@invalid-clr: @reset-clr;

body {
    font-family: @main-font;
    color: @main-txt-clr;
}

/* Main container */
.main-container {
    width: 41rem;
    margin: 10rem auto 0 auto;
    text-align: center;
}

/* Header and section heading text */
.masthead,
.section-heading {
    font-family: @headings-font;
}

/* Header */
.masthead {
    text-align: center;
}

/* Navigation */
.nav {
    color: @nav-txt-clr;
}

/* Hyperlinks */
a {
    color: @main-txt-clr;
    text-decoration: none;
    &:hover {
        color: @nav-txt-clr;
    }
}

/* Puts a margin above content to separate it from navigation; centers content */
.wrapper {
    width: 50%;
    margin: 2rem auto 0 auto;
}

/* Section heading text */
.section-heading {
    margin: 0;
    padding: 1rem;
    text-align: center;
    border-bottom: 3px solid @section-border-clr;
    background-color: @section-heading-bg;
}

/* All sections */
.details-section,
.charges-section,
.earnings-section {
    width: 100%;
    text-align: center;
    border: 1px solid @section-border-clr;
    border-radius: @border-radius;
    box-shadow: 0 2px 0 @section-border-clr;
}

/* Meal details section */
.details-section {
    height: 21.8rem;
    margin-bottom: 1rem;
}

/* Meal details form */
.meal-label {
    display: inline-block;
    width: 8.5rem;
    text-align: right;
    line-height: 2em;
}

.meal-input {
    width: 4rem;
    padding: 0.2rem;
    border: 1px solid @main-txt-clr;
    border-radius: @border-radius;
}

/* Invalid input error message */
.invalid-input {
    color: @invalid-clr;
}

/* Overrides ng-hide to preserve spacing */
.invalid-input.ng-hide {
    display: block !important;
    visibility: hidden;
}

/* Buttons */
.btn {
    width: 27.5%;
    padding: 1rem;
    border: 0;
    font-size: 1rem;
    font-family: @main-font;
    color: @btn-txt-clr;
}

/* Submit button */
.btn-submit {
    background-color: @submit-clr;
    border-radius: @border-radius;
    box-shadow: 0 3px 0 darken(@submit-clr, 10%);
}

/* Cancel button */
.btn-cancel {
    background-color: @cancel-clr;
    border-radius: @border-radius;
    box-shadow: 0 3px 0 darken(@cancel-clr, 20%);
}

/* Reset button */
.btn-reset {
    background-color: @reset-clr;
    border-radius: @border-radius;
    box-shadow: 0 3px 0 darken(@reset-clr, 10%);
}
